<%- include('partials/header.ejs') %>
    <div>
        <h1>Home</h1>
        <p class="lead mb-4">
            <%= txt %>
        </p>
        <% if(locals.posts) {%>
            <% posts.forEach(i=> { %>
                <h1>
                    <%= i.title %>
                </h1>
                <p>
                    <%= i.content.substr(0,100) + '...' ;%>
                        <a href="/<%=i.title %>">Read More</a>

                </p>

                <%}); %>
                    <% } %>
    </div>
    <%- include('partials/footer.ejs') %>